// Primary
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradient
$light-royal-blue: #332de9;
$violet-blue-circle: #6441fd;
$persian-blue-circle: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

$gradient-left-right: linear-gradient(to right, $light-red, $orangey-yellow);
$gradient-top-bottom: linear-gradient($violet-blue-circle, $light-royal-blue);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content
  }
}

@mixin flexbox($align: flex-start, $justify: flex-start, $flex-direction: row, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin iconShow($urlIcon) {
  padding-left: 3rem;
  position: relative;
  &::before {
    content: url($urlIcon);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}

@mixin showBackGroundColorItem($color) {
  color: $color;
  position: relative;
  font-weight: bold;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.1;
  }
}

.result {
  width: 100rem;
  height: 60rem;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba($color: black, $alpha: 0.1);
  @include flexbox(stretch, space-evenly, row, nowrap);
  &__left, &__right {
    width: 50%;
  }

  &__right {
    padding: 4rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    &-gray {
      color: #c9c0ff;
    }
  }
}