@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  background-color: #f3f3f3;
  padding: 2rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}