@use '../../App' as app;

.result {
  &__item {
    @include app.flexbox(center, space-between);
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    &-reaction {
      @include app.showBackGroundColorItem(#ff5555);
    }

    &-reaction > &-title {
      @include app.iconShow("assets/images/icon-reaction.svg");
    }

    &-memory {
      @include app.showBackGroundColorItem(#ffb21e);
    }

    &-memory > &-title {
      @include app.iconShow("assets/images/icon-memory.svg");
    }

    &-verbal {
      @include app.showBackGroundColorItem(#20c39d);
    }

    &-verbal > &-title {
      @include app.iconShow("assets/images/icon-verbal.svg");
    }

    &-visual {
      @include app.showBackGroundColorItem(#1125d6);
    }

    &-visual > &-title {
      @include app.iconShow("assets/images/icon-visual.svg");
    }

    &-score {
      font-weight: bold;
      color: #303b59;

      & > span {
        color: #a0a0a2;
      }
    }
  }

  &__button {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    border-radius: 5rem;
    background-color: #303b59;
    color: app.$white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
}