@use '../../App' as app;

.result {
  &__left {
    border-radius: 3rem;
    background-image: app.$gradient-top-bottom;
    color: app.$white;
    text-align: center;
    padding: 4rem;
  }

  &__description {
    margin: 2rem 0;

    &-title{
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &-content {
      font-size: 2rem;
      padding: 0 2rem;
      color: #c9c0ff;
      line-height: 2rem;
    }
  }

  &__score {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5rem;
    background-image: linear-gradient(#4c22ca, #4734ee);;
    @include app.flexbox(center, center, column, nowrap);

    &-actual {
      font-size: 15rem;
      font-weight: bold;
    }

    &-total {
      font-size: 2rem;
      color: #c9c0ff;
    }
  }
}