// Primary
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradient
$light-royal-blue: #332de9;
$violet-blue-circle: #6441fd;
$persian-blue-circle: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

$gradient-left-right: linear-gradient(to right, $light-red, $orangey-yellow);
$gradient-top-bottom: linear-gradient($violet-blue-circle, $light-royal-blue);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: normal;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content
  }
}

@mixin flexbox($align: flex-start, $justify: flex-start, $flex-direction: row, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin iconShow($urlIcon) {
  padding-left: 3rem;
  position: relative;
  &::before {
    content: url($urlIcon);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}

@mixin showBackGroundColorItem($color) {
  color: $color;
  position: relative;
  font-weight: bold;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.1;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  background-color: #f3f3f3;
  padding: 2rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.result {
  width: 100rem;
  height: 60rem;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba($color: black, $alpha: 0.1);
  @include flexbox(stretch, space-evenly, row, nowrap);
  &__left, &__right {
    width: 50%;
  }

  &__left {
    border-radius: 3rem;
    background-image: $gradient-top-bottom;
    color: $white;
    text-align: center;
    padding: 4rem;
  }

  &__right {
    padding: 4rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    &-gray {
      color: #c9c0ff;
    }
  }

  &__score {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5rem;
    background-image: linear-gradient(#4c22ca, #4734ee);;
    @include flexbox(center, center, column, nowrap);

    &-actual {
      font-size: 15rem;
      font-weight: bold;
    }

    &-total {
      font-size: 2rem;
      color: #c9c0ff;
    }
  }

  &__description {
    margin: 2rem 0;

    &-title{
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &-content {
      font-size: 2rem;
      padding: 0 2rem;
      color: #c9c0ff;
      line-height: 2rem;
    }
  }

  &__item {
    @include flexbox(center, space-between);
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    &-reaction {
      @include showBackGroundColorItem(#ff5555);
    }

    &-reaction > &-title {
      @include iconShow("assets/images/icon-reaction.svg");
    }

    &-memory {
      @include showBackGroundColorItem(#ffb21e);
    }

    &-memory > &-title {
      @include iconShow("assets/images/icon-memory.svg");
    }

    &-verbal {
      @include showBackGroundColorItem(#20c39d);
    }

    &-verbal > &-title {
      @include iconShow("assets/images/icon-verbal.svg");
    }

    &-visual {
      @include showBackGroundColorItem(#1125d6);
    }

    &-visual > &-title {
      @include iconShow("assets/images/icon-visual.svg");
    }

    &-score {
      font-weight: bold;
      color: #303b59;

      & > span {
        color: #a0a0a2;
      }
    }
  }

  &__button {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    border-radius: 5rem;
    background-color: #303b59;
    color: $white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
}
















