@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 1000;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  background-color: #f3f3f3;
  padding: 2rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.result {
  width: 100rem;
  height: 60rem;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.result__left, .result__right {
  width: 50%;
}
.result__left {
  border-radius: 3rem;
  background-image: linear-gradient(#6441fd, #332de9);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 4rem;
}
.result__right {
  padding: 4rem;
}
.result__title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.result__title-gray {
  color: #c9c0ff;
}
.result__score {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5rem;
  background-image: linear-gradient(#4c22ca, #4734ee);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.result__score-actual {
  font-size: 15rem;
  font-weight: bold;
}
.result__score-total {
  font-size: 2rem;
  color: #c9c0ff;
}
.result__description {
  margin: 2rem 0;
}
.result__description-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.result__description-content {
  font-size: 2rem;
  padding: 0 2rem;
  color: #c9c0ff;
  line-height: 2rem;
}
.result__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.result__item-reaction {
  color: #ff5555;
  position: relative;
  font-weight: bold;
}
.result__item-reaction::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.1;
}
.result__item-reaction > .result__item-title {
  padding-left: 3rem;
  position: relative;
}
.result__item-reaction > .result__item-title::before {
  content: url("assets/images/icon-reaction.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
}
.result__item-memory {
  color: #ffb21e;
  position: relative;
  font-weight: bold;
}
.result__item-memory::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.1;
}
.result__item-memory > .result__item-title {
  padding-left: 3rem;
  position: relative;
}
.result__item-memory > .result__item-title::before {
  content: url("assets/images/icon-memory.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
}
.result__item-verbal {
  color: #20c39d;
  position: relative;
  font-weight: bold;
}
.result__item-verbal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.1;
}
.result__item-verbal > .result__item-title {
  padding-left: 3rem;
  position: relative;
}
.result__item-verbal > .result__item-title::before {
  content: url("assets/images/icon-verbal.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
}
.result__item-visual {
  color: #1125d6;
  position: relative;
  font-weight: bold;
}
.result__item-visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.1;
}
.result__item-visual > .result__item-title {
  padding-left: 3rem;
  position: relative;
}
.result__item-visual > .result__item-title::before {
  content: url("assets/images/icon-visual.svg");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
}
.result__item-score {
  font-weight: bold;
  color: #303b59;
}
.result__item-score > span {
  color: #a0a0a2;
}
.result__button {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 5rem;
  background-color: #303b59;
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
